
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

/* genetal style */

body {
  font-family: "Epilogue", sans-serif;
  color: #2D2D2D;
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


h1 {
  font-weight: 600;
  font-size: 68px;
  line-height: 100%;
}

h2 {
  font-size: 32px;
  font-weight: 600;
   line-height: 42px;
}

h3 {
  font-weight: 600;
  font-size: 27px;
  line-height: 42px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}



/* Header */
.navbar {
  padding: 24px 18px !important; 
}

.navbar-brand {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

/* Main */

/* Hero */
.hero-content {
  max-width: 620px;
}

.hero {
  padding: 42px 56px;
}


.content-text {
  gap: 24px;
}

.button {
  padding-inline: 64px;
  font-size: 20px;
  line-height: 30px;
}

/* Clients */
.clients {
  padding: 42px 68px;
}

/* services */

.services {
  padding-block: 42px;
}

.card-serv {
  padding: 64px 42px;
}

.services img {
  margin-bottom: 42px;
}

.serv-text {
  max-width: 310px;
}

.serv-text h3 {
  margin-bottom: 12px;
}

/* Gallery */
.gallery {
  padding-block: 42px;
}


/* Footer */
.footer {
  padding: 42px 0 86px;
}

.footer-content {
  max-width: 570px;
}

.footer-content p {
  margin-bottom: 42px;
}

.section-4{
  background-color: #F3F3F3;
}

.footer input[type="text"] {
  background-color: #F3F3F3;
  max-width: 520px;
}

.footer input:first-child {
  margin-bottom: 12px;
}

.footer input[type="button"] {
  margin-left: 18px;
}